### 1. Quiz

In [1]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [2]:
nations = ["A01","미국","A02","한국","A03","프랑스"]

i=0
while i<len(nations):
    if(i%2 != 0): #짝수가 아닌 값만 즉 홀수만
        print(nations[i])
    i=i+1
#i=0 으로 초기값을 설정하는 것이 좋은 습관(가독성)
#while문은 시작점 종료점 증감값을 임의로 지정 가능한 점이 장점

미국
한국
프랑스

In [3]:
for i in range(0,len(nations),2): #range로 인덱스 포인트를 설정가능
    print(nations[i])

A01
A02
A03

In [5]:
# 객체도 리스트(배열) 인덱스를 이용해 원하는 값만 출력 가능 
for i in nations:
    if(nations.index(i)%2 == 0):
        print(i)
        
#실무에서는 이런 방식이 더 자주 쓰임

A01
A02
A03

### 2. csv Connection

In [8]:
#Pandas 패키지 불러오기
import pandas as pd

# csv 파일을 읽어 DataFrame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

#컬럼해더 재정의
customerData.columns = ["CUSTID2",'AVERAGE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

#데이터 뷰

#CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv",index=False)
customerData.head()

  CUSTID2      AVERAGE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### 3. 오라클 서버 데이터 불러오기

In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
#DB 커넥션 열기
engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
#engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')

In [12]:
#DB테이블을 읽어 data farame 변수에 저장하기
customerData= pd.read_sql_query('SELECT * FROM customerdata',engine_oracle)

In [13]:
#컬럼세더 재정의
customerData.columns = ['CUSTID','AVERAGE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [14]:
#데이터 VIEW
print(customerData.head())

   CUSTID      AVERAGE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [15]:
#데이터 저장
resultname='oracleresult_omj'
customerData.to_sql(resultname,engine_oracle,if_exists='replace',index=False)

#엔진2로 만든 mysql서버에 데이터 저장 
#customerData.to_sql(resultname,engine_mysql,if_exists='replace',index=False)

#설명: to_sql은 mysql과 oracle, postgre모두 같은 명령어

### 4.mySql 서버 데이터 불러오기

In [1]:
#pandas 패키지 불러오기
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
#db 커넥션 열기
engine_mysql = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')

In [16]:
#db 테이블을 읽어 dataframe 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata',engine_mysql)

In [ ]:
# 컬럼헤더 재정의
customerData.columns = ['CUSTID','AVERAGE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [ ]:
#데이터 VIEW
print(customerData.head())

In [ ]:
#데이터 저장
resultname='oracleresult_omj'
#customerData.to_sql(resultname,engine,if_exists='replace',index=False)

#엔진2로 만든 mysql서버에 데이터 저장
customerData.to_sql(resultname,engine_mysql,if_exists='replace',index=False)

### 5. postGre 서버에서 데이터 불러오기

In [1]:
#PG:111(kopo/kopo)
#My:112(root/P@ssw0rd)
#Oracle:112(kopo/kopo)
#1. 패키지 설치
#pip install psycopg2

In [2]:
#pandas 패키지 불러오기
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [3]:
#db 커넥션 열기
engine_postgre = create_engine('postgresql://kopo:kopo@192.168.110.111/kopo')

In [4]:
#db 테이블을 읽어 dataframe 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata',engine_postgre)

In [5]:
# 컬럼헤더 재정의
customerData.columns = ['CUSTID2','AVERAGE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

In [6]:
#데이터 VIEW
print(customerData.head())

  CUSTID2           AVERAGE EMI DEVICECOUNT        PRODUCTAGE  \
0  A13566            4273.9   3         6.4  1.67918084803969
1  A14219  3642.44195049366   2           4  2.68202302093618
2  A15312  3653.88456537549   2           5   3.2082015713118
3  A16605  3713.21110671116   2         6.6               0.9
4  B10634  3391.07421460378   2         4.2  2.45365640323609

           CUSTTYPE
0  Big-Screen-lover
1      Sleeping-dog
2      Sleeping-dog
3        Early-bird
4      Sleeping-dog

In [ ]:
#데이터 저장
resultname='oracleresult_omj'
customerData.to_sql(resultname,engine_postgre,if_exists='replace',index=False)