### 실습 (20180604)

In [ ]:
c = 'hello world'

In [ ]:
print(c)

In [ ]:
a=3

In [ ]:
b=5

In [ ]:
print(a+b)

In [ ]:
list = [1,2,3,4,5]

In [ ]:
sum(list)

In [ ]:
len(list)

In [4]:
list1 = [10,20,30,40,50]
for i in list1:
    print(i)

In [12]:
a=3
A=5

print(a)
print(A)

3
5

In [13]:
3A = 2

SyntaxError: invalid syntax (<ipython-input-13-ea85cb5e90bf>, line 1)

In [14]:
if = 3

SyntaxError: invalid syntax (<ipython-input-14-d7549b45180c>, line 1)

In [15]:
integerValue=123
floatValue=123.456

print(type(integerValue))
print(type(floatValue))

<class 'int'>
<class 'float'>

In [41]:
#파이썬 사칙연산
integer_value = 123
float_value = 123.456

#1. 더하기 연산
summation = integer_value + float_value
print(summation)

#2. 곱하기 연산
multiple = integer_value * float_value
print(multiple)

#3. 나누기 연산
division =  integer_value / float_value
print(division)

#4. 제곱 연산
integer_value2 = int(float_value)
exponential = integer_value2**2
print(integer_value2)

#5. 나머지 연산
mod = integer_value%int(float_value)
print(mod)

246.45600000000002
15185.088
0.9963063763608087
123
0

In [42]:
a=2/3
a
# 파이썬 3버전은 자동으로 int가 나눗셈을 할 때 소수점으로 계산
# 유니코드가 아닌 utf-8

0.6666666666666666

In [43]:
aType = "This is 'String' value"
bType = 'This is "String" value'
cType = """This is 'String' value"""

print(aType)
print(bType)
print(cType)

This is 'String' value
This is "String" value
This is 'String' value

In [44]:
#문자열 더하기
head = "polytecn"
tail = "student"
fullString = head + " " + tail
print(fullString)

#문자열 곱하기
print("*"*20 + " 문자열 연산 프로그램 "+ "*"*20)

#문자열 인덱싱 0부터 시작
yearweek = "201801"
print(yearweek[0]) #첫번째 문자열
print(yearweek[0:4]) #0~4번째 전 문자열
print(yearweek[4:]) #4번째부터 끝까지

polytecn student
******************** 문자열 연산 프로그램 ********************
2
2018
01

In [45]:
#문자열 개수 세기
yearweek="2017W28"
print(yearweek)

#문자열 위치 확인
print(yearweek.index('W'))
delimeter = yearweek.index('W')
yearweek_new=yearweek[:delimeter]+yearweek[delimeter+1:]
print([yearweek_new])

#이외 upper,lower,replace

#split 함수
yearweek_list = yearweek.split('W')
print(yearweek_list )

2017W28
4
['201728']
['2017', '28']

In [46]:
productInfo = "Sec 2018W28 250"
product1=productInfo.upper().split(" ")

stock_name = product1[0]
date = product1[1].replace("W","")
value =product1[2]

print(stock_name)
print(date)
print(value)

# delimeter = productInfo.index('W')

# productInfo_new = productInfo[delimeter+1:delimeter+3]
# print(productInfo_new)

# product1 = productInfo[:delimeter] + productInfo[delimeter+1:]
# print(product1)

# product1_list=product1.upper()
# print(product1_list)

SEC
201828
250

In [47]:
#리스트 연산
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712,201713]

secinfo = stockName+priceList+[dateList]
print(secinfo)

#리스트 인덱싱
#secinfo = ["SEC",120,130,[201712,201713]]
print(secinfo[1])
print(secinfo[3])
print(secinfo[3][0])
print(secinfo[0:3])

['SEC', 120, 130, [201712, 201713]]
120
[201712, 201713]
201712
['SEC', 120, 130]

In [2]:
calculateList = [120,150,300,500,1000,100,2000]
print(calculateList)


# minList=calculateList.index(min(calculateList))
# maxList=calculateList.index(max(calculateList))
# print(minList)
# print(maxList)
# del calculateList[minList]
# print(calculateList)
# del calculateList[maxList]
# print(calculateList)
#del calculateList[calculateList[min(calculateList).index]]


maxValue= max(calculateList)
minValue= min(calculateList)

calculateList.pop(calculateList.index(minValue))
calculateList.pop(calculateList.index(maxValue))
print(calculateList)
print(sum(calculateList))
print(sum(calculateList)/len(calculateList))

[120, 150, 300, 500, 1000, 100, 2000]
[120, 150, 300, 500, 1000]
2070
414.0

### dictionary

In [9]:
d = dict(name='omj', value= 20180604, address="seoul")
d

{'address': 'seoul', 'name': 'omj', 'value': 20180604}

In [10]:
d.keys()

dict_keys(['name', 'value', 'address'])

In [11]:
d.values()

dict_values(['omj', 20180604, 'seoul'])

In [12]:
d.items()

dict_items([('name', 'omj'), ('value', 20180604), ('address', 'seoul')])

#딕셔너리 
dic = {"name":"sec","id":"300000","address":"soowon"}
print(dic)
print(dic['name'])

#dictionary key value 추가/변경
dic["name"]= "sec2"
dic["stock"]= "yes"
print(dic)
print(dic['stock'])

#dictionary 요소 삭제하기
del dic["id"]
print(dic)

del dic["stock"]
print(dic)

for k,v in dic.items():
    print(k,v);