### 1. 데이터 프레임 - 딕셔너리

In [2]:
#데이터 프레임 라이브러리 활용
import pandas as pd

In [3]:
#딕셔너리를 활용한 데이터 프레임 생성
data = { 'name':['A고객','B고객','C고객','D고객'], 'age':[27,40,33,29],
        'stock_age':[2,10,5,1]   
}
dataFrame= pd.DataFrame(data)

In [4]:
# 데이터 프레임: 스프레드시트 형태의 자료구조
print(type(dataFrame))
print(dataFrame)

<class 'pandas.core.frame.DataFrame'>
   age name  stock_age
0   27  A고객          2
1   40  B고객         10
2   33  C고객          5
3   29  D고객          1

In [9]:
dataFrame[["name","stock_age"]]

  name  stock_age
0  A고객          2
1  B고객         10
2  C고객          5
3  D고객          1

### 2. 데이터 프레임- 리스트

In [6]:
#리스트 생성
test = [10,100,1000,10000]
#데이터 프레임 변환
testDf = pd.DataFrame(test)
print(testDf)
print("---------------------")
testDf.columns=["test"]
print(testDf)

       0
0     10
1    100
2   1000
3  10000
---------------------
    test
0     10
1    100
2   1000
3  10000

### 3. 리스트를 활용한 데이터프레임 응용

In [10]:
date = ['16.02.29', '16.02.26','16.02.25','16.02.24','16.02.23']
date2 = ['17.02.29', '17.02.26','17.02.25', '17.02.24', '17.02.23']

date_df = pd.DataFrame(date, columns=['date1'])
date_df2 = pd.DataFrame(date2, columns=['date2'])

final = pd.concat([date_df,date_df2],axis=1)
print(final)
print('----------------------')
final2 = pd.concat([date_df2,date_df],axis=0)
print(final2)

      date1     date2
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23
----------------------
      date1     date2
0       NaN  17.02.29
1       NaN  17.02.26
2       NaN  17.02.25
3       NaN  17.02.24
4       NaN  17.02.23
0  16.02.29       NaN
1  16.02.26       NaN
2  16.02.25       NaN
3  16.02.24       NaN
4  16.02.23       NaN